body{
    background-color: rgb(90, 208, 216);
}



.headerClass {
    color: rgb(255, 255, 255);
    text-align: center;
}

.buttonClass {
    width: 100px;
    height: 30px;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);;
    border: none;
    border-radius: 5px;
    color: rgb(105, 100, 100);
    box-shadow: 0px 3px 10px 2px rgba(107,107,107,0.4);
    transition: transform 0.25s;
}

.buttonClass:hover{
    transform: scale(1.2);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
